
# This file is a part of Simple-XX/SimplePhysicsEngine
# (https://github.com/Simple-XX/SimplePhysicsEngine).
#
# .clang-tidy for Simple-XX/SimplePhysicsEngine.

---
Checks: '-*,\
  bugprone-*,\
  clang-analyzer-*,\
  cppcoreguidelines-*,\
  hicpp-*,\
  llvm-*,\
  misc-*
  modernize-*,\
  performance-*,\
  portability-*,\
  readability-*,\
  -cppcoreguidelines-pro-type-reinterpret-cast,\
  -bugprone-easily-swappable-parameters,\
  -llvm-header-guard,\
  -misc-non-private-member-variables-in-classes,\
  -cppcoreguidelines-non-private-member-variables-in-classes,\
  -readability-identifier-length,\
  -cppcoreguidelines-avoid-non-const-global-variables'
HeaderFilterRegex: '^${sourceDir}/src'
AnalyzeTemporaryDtors: true
...
